<div class="light-dark-switch">
  <div class="switch-box">
    <span class="switch-item btn min" data-value="dark">
      <span class="switch-item-icon"><i class="fa-solid fa-moon"></i></span>
      <span class="switch-item-text">深色</span>
    </span>
    <span class="switch-item btn min" data-value="light">
      <span class="switch-item-icon"><i class="fa-solid fa-lightbulb"></i></span>
      <span class="switch-item-text">浅色</span>
    </span>
    <span class="switch-item btn min active" data-value="auto">
      <span class="switch-item-icon"><i class="fa-solid fa-circle-half-stroke"></i></span>
      <span class="switch-item-text">自动</span>
    </span>
  </div>
</div>
